school-application/target/*
.settings
.classpath
.project

/school-application/.project
/school-application/target
*/school-application/target
*/school-application/target/*

target/*
*/target
*/target/*